version: "3.9"

services:

  nextjs:
    build: .
    container_name: nextjs-portfolio-app
    restart: always
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
    networks:
      - app-network

networks:
  app-network:
    external: true