services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    networks:
      - app-network
    environment:
      - NODE_ENV=production

networks:
  app-network:
    external: true