version: "3.9"

services:
  nextjs:
    build: .
    container_name: nextjs-portfolio-app
    restart: always
    environment:
      NODE_ENV: "production"
    networks:
      - app-network

networks:
  app-network:
    external: true
