@import "tailwindcss";

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/*HOME PAGE*/

#app-body {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/red_black_bg.jpg");
    background-size: cover;

    .app-grid{
        width: 100%;
        height: 100%;
        padding: 1.5rem 3rem;
        position: relative;

        .app-small-container{
            position: relative;


            &.right-items{
                .app-item{
                    right: 1rem;
                    &.order-item{
                        transform: translateX(50%);
                    }
                }
            }
            &.left-items{
                .app-item{
                    left: 1rem;
                    &.order-item{
                        transform: translateX(-50%);
                    }
                }
            }
        }

        .app-item{
            display: flex;
            flex-direction: column;
            gap: 0.1rem;

            align-items: center;
            justify-content: center;

            cursor: pointer;

            .app-icon{
                max-height: 4rem;
                width: 3.5rem;
            }

            .app-title{
                padding: 0.1rem 0.5rem;
                color: white;
                background: rgba(0, 0, 0, 0.25);
                border-radius: 4px;

                max-width: 7.5rem;
                text-align: center;
            }

            &:hover{
                opacity: 0.8;
            }

            &.order-item{
                position: absolute;

                &.order-1{
                    top: 0;
                }
                &.order-2{
                    top: 7rem;
                }
                &.order-3{
                    top: 14rem;
                }
                &.order-4{
                    top: 21rem;
                }
                &.order-5{
                    top: 28rem;
                }
                &.order-6{
                    top: 35rem;
                }
            }
        }
    }
}

@media (max-width: 1450px) {
    .left-items{
        .order-item{
            &.order-4{
                top: 0 !important;
                left: 9.5rem !important;
            }
            &.order-5{
                top: 7rem !important;
                left: 9.5rem !important;
            }
            &.order-6{
                top: 14rem !important;
                left: 9.5rem !important;
            }
        }
    }
    .right-items{
        .order-item{
            &.order-4{
                top: 0 !important;
                right: 9.5rem !important;
            }
            &.order-5{
                top: 7rem !important;
                right: 9.5rem !important;
            }
            &.order-6{
                top: 14rem !important;
                right: 9.5rem !important;
            }
        }
    }
}

/*WINDOW COMPONENT*/

#window{
    position: absolute;
    width: 60vw;
    height: 80vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fff;
    border-radius: 4px;
    overflow-y:hidden;
    overflow-x:hidden;

    .window-header{
        height: 6.5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        background: rgba(250, 125, 125, 0.58);

        cursor: move;

        h1{
            font-size: 1.2rem;
            font-weight: 600;
        }

        .close-icon{
            position: absolute;
            top: 0.25rem;
            right: 0;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;

            &:hover{
                opacity: 0.8;
            }
            &:active{
                transform: scale(1.1);
            }
        }
    }

    .window-content{
        height: 73.5vh;
        overflow-y: auto;
    }
}

#window-content{
    padding: 1rem;

    .content{
        width: 680px;
        margin: 0 auto;
    }

    .selfie-container{
        position: relative;
        margin: 0 0 -2rem -2rem;
        height: 270px;


        .selfie{
            z-index: 50;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .selfie-outline{

            position: absolute;
            left: 51.5%;
            top: -48px;
            transform: translateX(-50%) scale(0.99);
            color: blue;
            opacity:0.5;
            z-index: 49;

            animation: colorChangeOutline 10s infinite;
        }
    }

    .exp-container{
        margin: 0.5rem 0;


        .exp-header{
            .exp-header-spacer{
                width:32px;
            }
            .exp-header-arrow{
                transition: transform 0.2s ease-in-out;
                &.up{
                    transform: rotate(180deg);
                }
            }

            .orga-logo{
                transform: scale(2) translateY(-5px);
            }
        }
        .exp-content{
            &.visible{
                display: block;
            }
            &.invisible{
                display: none;
            }
        }

        .skills-container{
            .skills-list{
                li{
                    color: white;
                    padding: 0.2rem 0.6rem;
                    background: #005e00;
                    border-radius: 6px;
                    cursor: default;

                    &:hover{
                        opacity: 0.9;
                    }

                    &.non-technical{
                        background: #003d5e;
                    }
                }
            }
        }

    }
    .exp-spacer{
        width: 250px;
        height: 2px;
        border-radius: 4px;
        background: rgba(149, 149, 149, 0.56);
    }

    .skills-page-container{

        .skill-mastery{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(25%) translateX(25%);
            padding: 0.2rem 0.8rem;
            border-radius: 6px;
            color: white;
            background: rgb(73, 73, 73);

            z-index: 1;
        }

        .skills-page-content-item{
            z-index: 10;
            ul > li {
                color: white;
                padding: 0.1rem 0.4rem;
                background: #4e4e4e;
                border-radius: 6px;
                cursor: default;
                font-size: 0.75rem;

                &:hover{
                    opacity: 0.9;
                }

                &.special{
                    background: #5300bc;
                }
                &.web{
                    background: #003d5e;
                }
                &.prog{
                    background: #095e00;
                }
                &.data{
                    background: #5e5c00;
                }
                &.server{
                    background: #323131;
                }
                &.lang{
                    background: rgba(161, 25, 0, 0.85);
                }
                &.others{
                    background: rgba(94, 0, 81, 0.85);
                }

                position: relative;

                .flower-level{
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateY(-50%) translateX(50%);
                }
            }
        }
    }
}

@keyframes colorChangeOutline {
    0% {color: red;}
    20% {color:orange}
    40% {color:red}
    60% {color:purple}
    80% {color:black}
    100% {color: red;}
}

