@import "tailwindcss";

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#app-body {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/red_black_bg.jpg");
    background-size: cover;

    .app-grid{
        width: 100%;
        height: 100%;
        padding: 1.5rem 3rem;
        position: relative;

        .app-small-container{
            position: relative;


            &.right-items{
                .app-item{
                    right: 1rem;
                    &.order-item{
                        transform: translateX(50%);
                    }
                }
            }
            &.left-items{
                .app-item{
                    left: 1rem;
                    &.order-item{
                        transform: translateX(-50%);
                    }
                }
            }
        }

        .app-item{
            display: flex;
            flex-direction: column;
            gap: 0.1rem;

            align-items: center;
            justify-content: center;

            cursor: pointer;

            .app-icon{
                max-height: 4rem;
                width: 3.5rem;
            }

            .app-title{
                padding: 0.1rem 0.5rem;
                color: white;
                background: rgba(0, 0, 0, 0.25);
                border-radius: 4px;

                max-width: 7.5rem;
                text-align: center;
            }

            &:hover{
                opacity: 0.8;
            }

            &.order-item{
                position: absolute;

                &.order-1{
                    top: 0;
                }
                &.order-2{
                    top: 7rem;
                }
                &.order-3{
                    top: 14rem;
                }
                &.order-4{
                    top: 21rem;
                }
                &.order-5{
                    top: 28rem;
                }
                &.order-6{
                    top: 35rem;
                }
            }
        }
    }
}

/*if screen smaller than 760px width*/
@media (max-width: 1450px) {
    .left-items{
        .order-item{
            &.order-4{
                top: 0 !important;
                left: 9.5rem !important;
            }
            &.order-5{
                top: 7rem !important;
                left: 9.5rem !important;
            }
            &.order-6{
                top: 14rem !important;
                left: 9.5rem !important;
            }
        }
    }
    .right-items{
        .order-item{
            &.order-4{
                top: 0 !important;
                right: 9.5rem !important;
            }
            &.order-5{
                top: 7rem !important;
                right: 9.5rem !important;
            }
            &.order-6{
                top: 14rem !important;
                right: 9.5rem !important;
            }
        }
    }
}